.toggle-menu {
  width: 66%;
  background-color: #1C1C1E;
}

.toggle-menu > a {
  width: 50%;
  color: #828282;
}

.toggle-menu-active {
  background: linear-gradient(286.17deg, #FF9F0A 0%, #FFCD22 100%);
  color: #1C1C1E !important;
}

.slide-box {
  position: relative;
}

.slick-dot-home {
  z-index: 10;
  position: absolute;
  bottom: 10px;
  width: 100%;
  margin: auto;
  display: block;
  padding: 0;
  list-style: none;
  text-align: center;
}

.slick-dot-home li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dot-home li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dot-home li.slick-active button:before {
  color: #FFB340;
}

.slick-dot-home li button:before {
  font-family: 'slick';
  font-size: 8px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#header-bg.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 361px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  filter: blur(8px);
  z-index: -1;
}

.header-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 30;
}

.filter-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 61;
}

.mobile-menu {
  width: 300px;
  padding: 0;
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 500;
  overflow: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: #1C1C1E;
  -webkit-transition: transform .15s ease;
  -webkit-transition: -webkit-transform .15s ease;
  transition: -webkit-transform .15s ease;
  transition: transform .15s ease;
  transition: transform .15s ease, -webkit-transform .15s ease;
  transform: translate3d(-320px, 0, 0);
  -webkit-transform: translate3d(-320px, 0, 0);
}

.show-mobile-menu .mobile-menu,
.show-filter-menu .filter-menu {
  transform: none;
  -webkit-transform: none;
}

.btn-login {
  background: linear-gradient(286.17deg, #FF9F0A 0%, #FFCD22 100%);
  padding: 7px 20px;
  border-radius: 15px;
  font-size: 14px;
  text-transform: uppercase;
  color: #1C1C1E;
  text-decoration: none;
}

.main {
  background-color: #000000;
  padding: 0 1rem;
}

body {
  background-color: #000000;
}

.content-main .tab-content {
  background-color: #1C1C1E;
  border-radius: 15px;
}

.header-category {
  background-image: url(/banners/bg-banner-category.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}

.tabs-link {
  text-decoration: none;
  color: rgba(241, 241, 241, 0.3);
  font-size: 14px;
  font-weight: 500;
}

.tabs-link .nuxt-link-active .tab-link {
  color: rgba(241, 241, 241, 1);
}

.header-main-library .tab-link {
  color: #F1F1F1;
  opacity: 0.3;
  font-size: 14px;
  font-weight: 500;
}

.tab-library.tab-active .tab-link {
  color: #FFB340;
  opacity: 1;
}

.tab-active.tab-link {
  color: rgba(241, 241, 241, 1);
}

.tabs-link {
  text-decoration: none;
  color: rgba(241, 241, 241, 0.3);
  font-size: 14px;
  font-weight: 500;
}

.tab-btn-cate {
  border: 1px solid #333333;
  background-color: #333333;
  color: #999999;
}

.tab-btn-cate.tab-link-active {
  background-color: #332B21;
  border: 1px solid #FFB340;
  color: #FFB340;
  font-weight: 400;
}

.border-1 {
  border: 1px solid;
}

.tab-menu-chart {
  border: 1px solid #333333;
}

.grid-center {
  display: grid;
  place-items: center;
}

.color-rank-1 {
  color: #0BAFFF;
}

.color-rank-2 {
  color: #FA8246;
}

.color-rank-3 {
  color: #FFBD38;
}

.color-rank {
  color: #ACAEB0;
}

.border-1-FFB340 {
  border: 1px solid #FFB340;
}

.menu-tab-content-type,
.menu-tab-ranking-type {
  width: 100%;
  padding: 0;
  display: block;
  position: fixed;
  bottom: 0;
  z-index: 500;
  overflow: hidden;
  background-color: #1C1C1E;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: transform .15s ease;
  -webkit-transition: -webkit-transform .15s ease;
  transition: -webkit-transform .15s ease;
  transition: transform .15s ease;
  transition: transform .15s ease, -webkit-transform .15s ease;
  -webkit-transform: translate3d(0, 800px, 0);
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
}

.show-menu-tab-content-type .menu-tab-content-type,
.show-filter-menu-tab-content-type .filter-menu-tab-content-type,
.show-menu-tab-ranking-type .menu-tab-ranking-type,
.show-filter-menu-tab-ranking-type .filter-menu-tab-ranking-type {
  transform: none;
  -webkit-transform: none;
}

.border-1-b-333333 {
   border-bottom: 1px solid #333333;
}

.input-checkbox {
  width: 24px;
  height: 24px;
  background-image: url(/svgs/icon-checkbox.svg);
}

.input-checkbox-active {
  width: 24px;
  height: 24px;
  background-image: url(/svgs/icon-checkbox-chose.svg) !important;
}

.icon-delete-content-library {
  width: 24px;
  height: 24px;
  background-image: url(/svgs/inactive-icon-delete.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.icon-delete-content-library-active {
  width: 24px;
  height: 24px;
  background-image: url(/svgs/active-icon-delete.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.search-page {
  border-radius: 16px;
  border: #1C1C1E;
  background-color: #1C1C1E !important;
  color: #F1F1F1 !important;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.close-search {
  background: transparent;
  border: none;
  color: #FFFFFF;
  margin: auto;
  text-align: center;
}

.content-main-search {
  min-height: 100vh;
  height: auto;
  background: #1C1C1E !important;
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
}
